#gameboard {
    width: 320px;
    height: 320px;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.square {
    height: 38px;
    width: 38px;
    background-color: rgb(1, 121, 1);
    outline-color: white;
    outline-width: 1px;
    margin: 1px;
    border-radius: 5px;
}

.square svg {
    height: 30px;
    width: 30px;
    margin: 4px;
}

.black {
    fill: rgb(8, 8, 8);
}

.white {
    fill: rgb(252, 252, 241);
}

.viable {
    height: 38px;
    width: 38px;
    background-color: rgb(132, 177, 132);
    outline-color: rgb(0, 0, 0);
    outline-width: 0px;
    outline-style: solid;
    margin: 1px;
    border-radius: 5px;
}

#player {
    padding: 0.5%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 5px;
    color: rgb(7, 7, 7);
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Verdana, Helvetica, sans-serif;
}

p {
    text-align: center;
}

#score-white,
#score-black {
    font-size: 1.5em;
    display: inline-block;
    text-align: center;
    position:relative;
    top: -2px;
}

#scoreboard {
    margin-left: 3%;
    margin-right: 3%;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 5px;
    box-shadow: 2px 2px 3px;
}
#scoreboard-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#disks {
    align-items: center;
    fill: green;
}